---
layout: default
---

<h1 style="width: 400px">
    {% include title.svg %}
</h1>

<h1>Tags: </h1>
<ul>
{% for tag in site.tags %}
    <li class="tag" style="display: inline-block">
        <a href="{{ tag[0] | prepend:'/tag/' | prepend: site.baseurl }}">{{ tag[0] }}</a>
    </li>
{% endfor %}

<ul>
{% for post in site.posts %}
  <li>
    <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

    <h2>
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h2>
  </li>
{% endfor %}
</ul>

<p class="rss-subscribe">subscribe <a href="{{ '/feed.xml' | prepend: site.baseurl }}">via RSS</a></p>
