<nav>
    <div id="logo">
        <a href="{{ site.baseurl }}/">
            {% include icons/favicon.svg %}
            <div>
                MrLoh<span>.se</span>
            </div>
        </a>
    </div>
    <ul>
        <li {% if page.title == 'About' %} class="active" {% endif %}>
            <a href="{{ '/about' | prepend: site.baseurl }}">About</a>
        </li>
        <!-- <li>
            <a href="https://www.flickr.com/photos/flojoto/">Photos</a>
        </li> -->
        <li {% if page.layout == 'post' %} class="active" {% endif %}>
            <a href="{{ site.baseurl }}/">Blog</a>
        </li>
        <li {% if page.layout == 'archive' %} class="active" {% endif %}>
            <a href="{{ '/archive' | prepend: site.baseurl }}">Archive</a>
        </li>
        <li>
            <a href="mailto:{{ site.email }}">Contact</a>
        </li>
    </ul>
</nav>
