<!-- Bend Markdown -->
<script type="text/javascript" src="{{ '/assets/js/markdow.min.js' | prepend: site.baseurl }}"></script>

{% if page.comments %}
<!-- Add Comments with Carnival -->
<script  type="text/javascript" src="https://carnivalapp.io/sites/273/init.js"></script>
<script type="text/javascript">
if( !(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) ) {
	document.addEventListener("DOMContentLoaded", function() {
		Carnival.init({
			enabled: true,
			article_author: "{% if page.author %}{{ page.author }}{% else %}Tobias Lohse{% endif %}",
			article_selector: ".content",
			block_selector: ":scope > p, :scope > ol, :scope > ul, :scope > blockquote, :scope > figure, :scope .highlight",
			onNewComment: function(comment) {
				{% if page.latex %}
					MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
				{% endif %}
			}
		});
	});
}
</script>
{% endif %}

{% if page.latex %}
<!-- Render LaTeX with MathJax -->
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/x-mathjax-config">
	MathJax.Hub.Config({
		tex2jax: {
			inlineMath: [ ['$','$'] ],
			processEscapes: true
		}
	});
</script>
{% endif %}

{% if page.kudos %}
<!-- Enable Kudos -->
<script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.4.2.min.js"></script>
<script type="text/javascript" src="{{ '/assets/lib/kudos.min.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ '/assets/js/parse-kudos.min.js' | prepend: site.baseurl }}"></script>
{% endif %}

<!-- End of Blogost Scripts -->
