<div class="meta">
    <p class="date">
        <span>published: </span>
        <a href="{{ page.date | date: '/%Y/%m/' | prepend: site.baseurl }}"><time datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: "%b %-d, %Y" }}</time></a>
    </p>
    <p class="author">
        <span>author: </span>
        <a rel="author" href="{{ page.author-link }}">{{ page.author }}</a>
    </p>
    {% if page.updated %}
    <p class="updated">
        <span>updated: </span>
        <a href="{{ page.updated | date: '/%Y/%m/' | prepend: site.baseurl }}">{{ page.updated | date: "%b %-d, %Y" }}</a>
    </p>
    {% endif %}
    <p class="length">
        <span>length: </span>
        <a href="#">{{ content | number_of_words | plus:100 | divided_by:180 }} min</a>
    </p>
</div>

<h1>{{ page.title }}</h1>

{% if page.description %}
    <p class="description">
        {{ page.description }}
    </p>
{% else %}
    <hr class="description">
{% endif %}
