$article-width: 35*$base-font-size;

article {
    width: 100%;
    margin: 0 auto;
    width: 100%;
    max-width: $article-width;
    transition: all 0.5s;

    & > * {
        margin-bottom: $unit;
        line-height: $unit;
        text-align: justify;
    }

    header {
        // max-width: $article-width+10*$base-font-size;
        color: lighten($alt-background-color, 6%);
        text-align: center;
        margin-bottom: $unit;
    }

    .meta {
        font-family: $base-font-family-sc;
        font-size: 1.25*$base-font-size;
        font-weight: 600;
        text-transform: lowercase;
        color: $brand-color;
        margin-bottom: 0;
    }

    h1 {
        font-size: 3*$base-font-size;
        line-height: 2*$unit;
    }

    h2 {
        font-family: $base-font-family-sc;
        font-size: 1.25*$base-font-size;
        font-weight: 600;
        text-transform: lowercase;
    }

    .highlighttable, .CodeRay, & > .highlight {
        $line-color: lighten($alt-background-color, 10%);
        width: 5*$article-width;
        margin-left: -2*$article-width;
        margin-bottom: $unit;
        font-size: $small-font-size;
        border: 0;
        background-color: $alt-background-color;
        padding: 0;
        overflow-x: scroll;
        border-top: 3px solid $line-color;
        border-bottom: 3px solid $line-color;
        border-collapse: collapse;

        & > pre {
            max-width: $article-width !important;
        }

        tbody, & > pre {
            display: block;
            max-width: $article-width + 3*$base-font-size;
            margin: 0 auto;
            padding: 0;

            tr {
                padding: 0;
                margin: 0;
            }

            td.linenos, td.line-numbers {
                float: left;
                margin-left: -2*$base-font-size;
                width: 2*$base-font-size;
                border-right: 2px solid $line-color;
                text-align: right;
                padding: $base-font-size $base-font-size/2 $base-font-size 0;

                code, pre a, pre a:hover {
                    color: $line-color;
                    text-decoration: none;
                }
            }

            td.code {
                display: block;
                float: left;
                max-width: $article-width;
                padding: $base-font-size 0 $base-font-size $base-font-size;
                pre {
                    margin: 0;
                }
            }

            .highlight {
                margin: 0;
                position: relative;
            }

            pre {
                overflow-x: scroll;
                margin: 0;
                line-height: 0.75*$unit;
            }
        }
    }

    code {
        font-size: 0.9em;
        background-color: rgba($alt-background-color, 0.05);
        padding: 0.2em 0.5em 0 0.5em;
        border: 1px solid rgba($alt-background-color, 0.1);
        border-radius: 0.4em;
        color: $alt-background-color;
    }

}
