$article-width: 36*$base-font-size;

article {
    width: 100%;
    margin: 0;


    /******************************** TITLE ***********************************/
    header {
        margin-bottom: 1.5*$unit;
        text-align: center;
    }

    h1 {
        font-size: 3*$base-font-size;
        line-height: 2*$unit;
        margin-bottom: $unit/4;
    }

    .meta {
        margin: 0;
        line-height: 1.1em;

        color: $gray-color;

        font-family: $font-sc;
        font-size: 1.1*$base-font-size;
        font-weight: 600;
        text-transform: lowercase;

        p {
            margin: 0;
            display: inline-block;
            &:last-child::after {
                content: '';
            }
            &::after {
                content: '\2022 ';
            }
        }

        span {
            color: $gray-color;
            font-weight: 400;
        }

        a {
            &:hover {
                text-decoration: none;
                color: lighten($alt-background-color, 15%);
            }
        }

    }





    /******************************** FOOTER ***********************************/
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background: $background-color;
        padding: $unit/4 $unit/2;
        height: 2*$unit;

        box-shadow: -$unit/3 0 $unit/3 rgba($gray-color, 0.5);

        .author {
            display: block;
            float: left;
            margin: $unit/5 $unit/2 0 0;

            img {
                position: relative;
                float: left;
                @extend %grayscale;

                height: 1.5*$unit;
                width: auto;
                border-radius: 50%;

                border: 1px solid $gray-color;

                &:hover, &:focus {
                    border: 1px solid $action-color;
                }
            }
        }

        .meta {
            margin-top: $unit/6;
            font-weight: 400;
            font-size: 0.9*$base-font-size;
            a {
                font-weight: 400;
                color: $gray-color;
                transition: all 0.6s;
                &:hover, &:focus {
                    transition: all 0.6s;
                    color: $action-color;
                }
            }
            &::after {
                content: '';
            }
        }


        ul.tags {
            margin-top: $unit/3;
            position: relative;
            $tag-color: lighten($gray-color, 10%);
            $tag-height: 0.65*$unit;

            list-style-type: none;
            li {
                @include tag($tag-color, $tag-height);

                float: left;
                margin-right: $tag-height;

                &:first-child {
                    margin-left: $tag-height/2;
                }

                transition: all 0.6s;

                &:hover, &:focus {
                    transition: all 0.6s;

                    $tag-highlight-color: $action-color;
                    background-color: $tag-highlight-color;
                    &::before {
                        border-right-color: $tag-highlight-color;
                    }
                }
            }
        }
    }





    /****************************** PARAGRAPH *********************************/
    .content {
        max-width: $article-width;
        margin: 0 auto;

        line-height: $unit;

        -webkit-transition: all 0.5s;
                transition: all 0.5s;

        & > p {
            margin-bottom: $unit;
        }
    }





    /********************************* CODE ***********************************/
    code {
        padding: 0.2em 0.5em 0 0.5em;

        color: $alt-background-color;
        border: 1px solid rgba($alt-background-color, 0.1);
        border-radius: 0.4em;
        background-color: rgba($alt-background-color, 0.05);

        font-size: 0.9em;
    }

    .codeblock, .highlighttable, .CodeRay, & > .highlight {
        $line-color: lighten($alt-background-color, 10%);

        overflow-x: scroll;

        width: 5*$article-width;
        margin-bottom: $unit;
        margin-left: -2*$article-width;
        padding: 0;

        border: 0;
        border-collapse: collapse;
        border-top: 3px solid $line-color;
        border-bottom: 3px solid $line-color;
        background-color: $alt-background-color;

        font-size: 0.9*$base-font-size;

        & > pre {
            max-width: $article-width !important;
        }

        tbody, & > pre {
            display: block;

            max-width: $article-width + 3*$base-font-size;
            margin: 0 auto;
            padding: 0;

            tr {
                margin: 0;
                padding: 0;
            }

            td {
                padding: $unit/3*2 0;
            }

            td.linenos, td.line-numbers {
                float: left;

                width: 2*$base-font-size;
                margin-left: -1.75*$base-font-size;
                padding-right: $base-font-size/2;

                text-align: right;

                border-right: 2px solid $line-color;

                code, pre a, pre a:hover {
                    text-decoration: none;
                    color: $line-color;
                }
            }

            td.code {
                display: block;
                float: left;

                max-width: $article-width;
                padding-left: $base-font-size/2;
            }

            .highlight {
                position: relative;

                margin: 0;
            }

            pre {
                line-height: 0.75*$unit;
                margin: 0;
            }
        }

        code {
            background-color: $transparent;
            padding: 0;
        }
    }





    /********************************* FIGURE *********************************/
    figure {
        position: relative;

        overflow: hidden;
        img {
            position: relative;

            display: block;

            width: 100%;
        }
        figcaption {
            position: absolute;
            bottom:0;

            box-sizing: border-box;
            width: 100%;
            padding: 0.5em 1em;

            -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
                    transition: transform 0.4s, opacity 0.1s 0.3s;
            -webkit-transform: translateY(100%);
                -ms-transform: translateY(100%);
                    transform: translateY(100%);

            opacity: 0;
            color: $background-color;
            background: $alt-background-color;

            font-family: $alt-font;
            font-style: italic;
            font-weight: 400;
            letter-spacing: 0.05em;
        }
        &:hover, &:focus {
            figcaption {
                -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
                        transition: transform 0.4s, opacity 0.1s;
                -webkit-transform: translateY(0);
                    -ms-transform: translateY(0);
                        transform: translateY(0);

                opacity: 0.7;
            }
        }
    }





    /********************************* BLOCKQUOTE *****************************/
    blockquote {
        position: relative;
        /* $border-color: lighten($alt-background-color, 15%); */
        $border-color: $gray-color;
        $border-width: 5px;

        $border-color-light: darken(white, 5%);

        border-left: $border-width solid $border-color;
        background: $border-color-light;
        margin: $unit 0*$unit $unit/3*5 -2*$border-width;
        padding: $unit/2 $unit/2 $unit/3 $unit/2;
        border-radius: $border-width $border-width $border-width 0;

        p {
            margin: 0;
            font-family: $alt-font;
            font-size: 1.1*$base-font-size;
            font-weight: 400;
            font-style: italic;
            text-align: left;
            position: relative;
            text-indent: 1.6*$unit;
            color: darken($border-color, 4%);

            a {
                color: inherit;
            }

            &:first-child::before {
                content: '\201C';
                font-family: $alt-font;
                font-size: 3.5*$unit;
                font-style: italic;
                position: absolute;
                color: $border-color;
                top: 0.3em;
                left: -1.7*$unit;
            }

            a::before {
                content: "\2014";
                padding-right: 0.5em;
            }
        }

        & > cite {
            display: block;
            position: absolute;
            top: 100%;
            left: -$border-width;
            padding: 0 0 0 3*$unit;
            height: $unit/3*2;
            border-radius: 0 0 0 $border-width;

            box-sizing: border-box;
            background: $border-color;
            color: $background-color;

            font-family: $font-sc;
            text-transform: lowercase;
            font-size: 0.9*$base-font-size;
            font-weight: 600;
            font-style: normal;
            text-align: left;
            line-height: 1.1em;


            &::before {
                content: " ";
                top: 0;
                left: 1.2*$unit;
                border: solid transparent;
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-color: $transparent;
                border-top-color: $border-color-light;
                border-width: $unit/2;
            }

            &::after {
                content: " ";
                width: 2*$unit;
                height: $unit/3*2;
                position: absolute;
                top: 0;
                left: 100%;
                background: $border-color;
                border-radius: 0 0 100% 0;
            }

            a, a:hover, a:focus {
                color: inherit;
                text-decoration: none;
            }
        }
    }

}
