.carnival-comment-indicator {
	z-index: 10000 !important;

	svg path {
		fill: lighten($action-color, 25%) !important;
	}

	&:hover svg path, &.commenting svg path {
		fill: $action-color !important;
	}
}

.carnival-branding {
	text-align: left;
	text-transform: lowercase;
	font-family: $font-sc;
	font-weight: 600;
	font-size: 10px !important;
	padding-top: 0;
	text-align: center;
	padding: 0 0 0.5em 0 !important;
	&, a {
		color: lighten($gray-color, 65%);
		&:hover {
			color: lighten($gray-color, 65%);
			text-decoration: none;
		}
	}
}


.carnival-comments {
	color: lighten($gray-color, 20%);
	background-color: $background-color;
	border: $unit/2 solid $background-color;
	border-bottom: 0;
	// border-top: 0;
	border-radius: $unit/2;
	margin-top: -$unit/2 !important;
	right: -35-$unit !important;

	.carnival-comment {
		border-top: 1.5px solid lighten($gray-color, 70%);
	}

	.carnival-author {
		font-family: $font !important;
		font-weight: 800;

		img {
			@extend %grayscale;
			display: inline-block;
		}
	}

	p, code, pre {
		text-align: left;
		font-size: 10pt !important;
		line-height: 1.4 !important;
	}

	p {
		font-family: $font !important;
	}

	code {
		font-family: $mono-font !important;
	}

	pre {
		background-color: rgba($alt-background-color, 0.05);
        padding: 0.5em;
        border: 1px solid rgba($alt-background-color, 0.1);
        color: $alt-background-color;
		overflow-x: scroll;
		border-radius: 0.4em;
		margin: 0;
		code {
			border: none;
			background: none;
		}
	}

	li:first-child {
		border-top: 0;
	}
}


.carnival-comment-form  {
	text-align: center;

	a.carnival-create {
		font-family: $font-sc;
		text-transform: lowercase;
		font-weight: 600;

		span {
			font-family: $font;
			font-weight: bold;
			vertical-align: -4%;
		}

		&:hover {
			text-decoration: none;
			color: inherit;
		}
	}

	form {
		.carnival-author {
			text-align: left;
		}

		a.carnival-cancel {
			font-family: $font;
			color: $action-color;

			&:hover {
				text-decoration: none;
				color: inherit;
			}
		}

		.carnival-validation-error {
			color: $color3;
			font-family: $font-sc;
			font-weight: 600;
			text-align: left;
			text-transform: lowercase;
		}

		textarea {
			font-family: $font !important;
			background-color: $background-color;
			color: lighten($gray-color, 20%);
			@include placeholder(lighten($gray-color, 65%));
		}

		text-align: center;
		input[type=submit] {
			border: none;
			background: $action-color;
			color: $background-color;
			font-family: $font-sc;
			font-weight: 600;
			font-size: 12px !important;
			text-align: center;
			text-transform: lowercase;
			text-decoration: none;
			text-shadow: 1px 1px 0 darken($action-color, 7%);
			cursor: pointer;
			padding: 0.1em 0.7em !important;
			border-radius:4px;
			$button-height: 3px;
			display: block;
			position: relative;
			top: 0;
			box-shadow: 0 $button-height 0 darken($action-color, 10%) !important;
			&:hover, &:focus, &:active {
				background: darken($action-color, 3%);
				color: darken($background-color, 3%);
				box-shadow: 0 2/3*$button-height 0 darken($action-color, 10%) !important;
				top: 1/3*$button-height;
			}
		}
	}
}
