nav {
    width: 100%;
    max-width: 75*$base-font-size;
    margin: 0 auto;
    box-sizing: border-box;
    padding: $unit;
    margin-bottom: 4*$unit;

    font-family: $font-sc;
    font-size: $base-font-size;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;

    @include media(30*$unit) {
        margin-bottom: 3*$unit;
    }

    @include media(20*$unit) {
        margin-bottom: 1.5*$unit;
    }

    @include media(16*$unit) {
        margin-bottom: 2*$unit;
        padding: $unit/2;
    }

    #logo {
        position: relative;
        float: left;
        padding: $unit/4 $unit/4 0 $unit/6;

        svg {
            float: left;
            padding: $unit/12;
            width: 1.3*$base-font-size;
            path {
                transition: all 0.3s;
                fill: $action-color;
            }
        }

        div {
            padding-top: $unit/12;
            padding-left: $unit/12;
            font-family: $font;
            text-transform: none;
            float: left;
            span {
                color: $action-color;
                font-family: $alt-font;
                font-style: italic;
            }
        }

        &::before, &::after {
            position: absolute;
            content: '';
        	width: 100%;
        	height: 1px;
        	background: $action-color;
        	transform: scale3d(0,1,1);
        	transition: transform 0.5s;
        }

        &::before {
        	right: 0;
        	top: $unit/4;
        	transform-origin: 100% 50%;
        }

        &::after {
        	left: 0;
        	bottom: 0;
        	transform-origin: 0 50%;
        }

        transition: all 0.3s;
        &:hover, &:focus {
            transition: all 0.3s;
            svg path {
                fill: $text-color;
            }
            div span {
                color: $text-color;
            }
            a {
                color: $action-color;
            }
            &::before, &::after {
                transform: scale3d(1,1,1);
            }
        }
    }

    a {
        color: inherit;
        &:hover, &:focus {
            text-decoration: none;
        }
    }

    ul {
        margin: 0;
        list-style-type: none;
        float: right;

        li {
            position: relative;
            display: inline-block;
            margin-right: 1.5*$unit;
            padding: $unit/4 $unit/3 $unit/6 $unit/3;
            height: $unit;

            &:last-child {
                margin-right: 0;
            }

            @include media(25*$unit) {
                margin-right: $unit/2;
            }

            @include media(20*$unit) {
                display: none;
            }

            &.active {
                color: lighten($gray-color, 15%);
                &::before, &::after {
                    background: lighten($gray-color, 10%);
                }
            }

            &::before, &::after {
                content: '';
                position: absolute;
                background: $text-color;
                width: $unit/3*2;
                height: 1px;
                transition: all 0.4s;
            }

            &::before {
                top: $unit/4 + $unit/6;
                left: 0;
                transform: rotate(90deg);
                transform-origin: 0 0;
            }

            &::after {
                right: 0;
                bottom: $unit/6 + $unit/6;
                transform: rotate(90deg);
                transform-origin: 100% 0;
            }


            &:hover, &:focus {
                font-weight: 600;
                letter-spacing: -0.02em;
                color: $action-color;

                &::before, &::after {
                    transition: all 0.4s;
                    height: 2px;
                    background: $action-color;
                }

                &::before {
                    top: $unit/6;
                    left: 50%;
                    transform: rotate(0deg) translateX(-50%);
                }

                &::after {
                    bottom: $unit/6;
                    right: 50%;
                    transform: rotate(0deg) translateX(50%);
                }
            }

        }
    }
}
