$article-width: 36*$base-font-size;
$padding: 5%;
$padding-factor: 1/0.8999;


@include media($article-width+15*$unit) {
    article.article, header.article, footer {
        padding-right: 2*$unit;
    }
}
@include media($article-width+12*$unit) {
    article.article, header.article, footer {
        padding-right: 4*$unit;
    }
}
@include media($article-width+6*$unit) {
    article.article, header.article, footer {
        padding-right: 0;
    }
}


/******************************** TITLE ***********************************/
header.article {
    margin-bottom: 1.5*$unit;
    text-align: center;

    @include media($article-width) {
        box-sizing: border-box;
        max-width: $article-width;
        padding: 0 $padding;

        .meta p::after {
            content: '' !important;
        }
    }

    h1 {
        font-size: 3*$base-font-size;
        line-height: 2.3*$unit;
        max-width: $article-width;
        margin: $unit/4 auto;

        @include media($article-width) {
            font-size: 2.2*$base-font-size;
            line-height: 1.1;
        }

        @include media(20*$unit) {
            font-size: 2*$base-font-size;
        }

        @include media(16*$unit) {
            font-size: 1.8*$base-font-size;
        }
    }

    .meta, .description {
        margin: 0;

        color: $gray-color;

        font-family: $font-sc;
        font-size: 1.1*$base-font-size;
        font-weight: 400;
        text-transform: lowercase;
        line-height: 1.1;

        @include media(20*$unit) {
            font-size: 0.9*$base-font-size;
        }

        @include media(16*$unit) {
            font-size: 0.8*$base-font-size;
        }

        p {
            margin: 0;
            display: inline-block;
            &:last-child::after {
                content: '';
            }
            &::after {
                content: '\2022 ';
            }
        }

        a {
            font-weight: 600;
            &:hover {
                text-decoration: none;
                color: lighten($alt-background-color, 15%);
            }
        }
    }

    .description {
        max-width: $article-width;
        margin: 0 auto;
    }
    hr.description {
        margin-top: 1.25*$unit;
        max-width: $article-width/1.75;
        border: none;
        border-bottom: solid 1px lighten($gray-color, 20%);
    }
}





/******************************** FOOTER ***********************************/
footer.article {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: $background-color;
    box-sizing: border-box;
    padding: 0;
    height: 2.5*$unit;
    z-index: 99999;

    box-shadow: 0 0 $unit/3 rgba($gray-color, 0.5);

    @include media($article-width) {
        position: relative;
        box-shadow: none;
    }

    .left, .right {
        position: absolute;
        top: 0;
        padding: $unit/4 $unit/2;
        height: 2*$unit;
    }

    .left {
        left: 0;
        width: 100%;

        a:hover, a:focus {
            text-decoration: none;
        }

        .author {
            display: block;
            position: absolute;
            top: $unit/2;
            left: $unit/2;
        }

        .container {
            display: block;
            position: absolute;
            top: $unit/3;
            left: 2.5*$unit;
            margin-right: (1+5)*2.25*$unit;
            height: 100%;
            overflow: scroll;
        }
    }

    .right {
        right: 0;
        width: 5*2.25*$unit;
        text-align: right;
    }

    .author {
        height: 1.5*$unit;
        width: 1.5*$unit;
        border: 2px solid $gray-color;
        border-radius: 50%;
        transition: all 0.3s;

        img {
            position: relative;

            height: 100%;
            width: 100%;
            border-radius: 50%;
        }

        &:hover, &:focus, &:active {
            border-color: $action-color;
        }
    }

    .meta {
        font-weight: 400;
        font-size: 0.9*$base-font-size;
        color: $gray-color;
        a {
            font-weight: inherit;
            color: $gray-color;
            &:hover, &:focus, &:active {
                color: $action-color;
            }
        }
        &::after {
            content: '';
        }
    }


    .tags {
        position: relative;
        $tag-color: lighten($gray-color, 10%);
        $tag-height: $unit/3*2;

        list-style-type: none;
        a {
            display: inline-block;
            @include tag($tag-color, $tag-height);

            float: left;
            margin: 0 0 $unit/4 $tag-height;

            &:first-child {
                margin-left: $tag-height/2;
            }

            &:hover, &:focus, &:active {
                $tag-highlight-color: $action-color;
                background-color: $tag-highlight-color;
                &::before {
                    border-right-color: $tag-highlight-color;
                }
            }
        }
    }

    .round-button {
        display: inline-block;
        position: relative;
        margin: $unit/5 $unit/2 0 0;
        height: 1.5*$unit;
        width: 1.5*$unit;
        text-align: center;

        &:last-child {
            margin-right: 4px;
        }

        & > label, & > a {
            display: inline-block;
            width: 100%;
            height: 100%;
            cursor: pointer;
            border-radius: 50%;
            border: 2px solid $gray-color;

            transition: all 0.5s;

            & > svg {
                width: 100%;
                height: 100%;
                box-sizing: border-box;

                g {
                    stroke: $gray-color;
                    stroke-width: 5;
                }
            }
        }

        label {
            cursor: default;
        }

        input[type='checkbox'] {
            display: none;
        }

        .dropup {
            position: absolute;
            bottom: 100%;
            width: 5.5*$unit;
            right: -2*$unit;
            box-shadow: 0 0 $unit/2 rgba($gray-color, 0.5);
            border-radius: $unit/4;
            margin-bottom: $unit/3*2;
            padding: $unit/4 $unit/2;
            box-sizing: border-box;
            background: $action-color;
            text-align: center;

            &::after {
                content: '';
                position: absolute;
                top: 100%;
                right: 2*$unit;
                height: 0;
                width: 0;
                border: solid $transparent;
                border-top-color: $action-color;
                border-width: $unit/3*2;
            }

            &::before {
                /* this just helps to keep the hover active */
                content: '';
                position: absolute;
                top: 100%;
                right: 0.75*$unit;
                width: 4*$unit;
                height: 1.25*$unit;
            }

            transform: scale3d(0,0,1);
            transform-origin: 50% 100%;
            transition: all 0.5s;

            &, a {
                display: block;
                color: $background-color;

                font-family: $font-sc;
                font-size: 0.85*$base-font-size;
                font-weight: 400;
                text-transform: lowercase;
                line-height: 1;
            }
            a {
                display: block;
                margin-bottom: $unit/4;
                &:last-child {
                    margin-bottom: 0;
                }
            }

            svg {
                display: inline-block;
                height: 1em;
                border-radius: 50%;
                border: 2px solid $background-color;
                g {
                    stroke: $background-color;
                    stroke-width: 8;
                }
            }
        }

        &:hover, &:focus, &:active, & > input[type='checkbox']:checked {
            & > a, label, & ~ label {
                background: $action-color;
                border-color: $action-color;
            }
            & > a > svg g, & ~ label > svg g, & > label > svg g  {
                stroke: $background-color;
            }

            & ~ .dropup, .dropup {
                transform: scale3d(1,1,1);
            }
        }
    }

}





article {
    width: 100%;
    margin-bottom: 10*$unit;
    box-sizing: border-box;

    /****************************** PARAGRAPH *********************************/
    .content {
        max-width: $article-width;
        margin: 0 auto;
        padding: 0;

        @include media($article-width) {
            padding: 0 $padding;
        }

        line-height: $unit;

        transition: all 0.5s;

        & > p, & > ul, & > ol, & > h2, & > figure {
            margin-bottom: $unit;
        }

        & > p, & > ul, & > ol {
            a:not(.footnote) {
                $link-color: lighten($action-color, 15%);

                position: relative;
                color: $text-color;

                transition: color 0.2s 0.3s, text-shadow 0s 0.6s;
                text-shadow: 1px 0 0 $background-color, -1px 0 0 $background-color;

                &::before {
                    content: '';
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 90%;
                    padding: 0;
                    background: $link-color;

                    transform: scale3d(1,0.1,1);
                    transform-origin: 50% 100%;
                    transition: transform 0.3s 0.3s, height 0.3s 0.3s, padding 0.1s 0.6s, left 0.1s 0.6s;
                }

                &::after {
                    content: '\00bb';
                    position: absolute;
                    top: 0;
                    left: 100%;
                    height: 100%;

                    background: $link-color;
                    color: $background-color;
                    font-size: 1.4em;
                    padding: 0 $unit/8;
                    border-radius: 0 $unit/8 $unit/8 0;
                    line-height: 0.85;

                    transform: scale3d(0,1,1);
                    transform-origin: 0 50%;
                    transition: transform 0.2s;
                    transition-delay: 0s;
                }

                &:hover, &:focus, &:active {
                    text-decoration: none;
                    color: $background-color;

                    text-shadow: none;
                    transition: color 0.2s 0.1s, text-shadow 0s 0s;

                    &::before {
                        transform: translateY(0);
                        border-radius: $unit/8 0 0 $unit/8;
                        transition: transform 0.3s 0s, height 0.3s 0s, padding 0.1s 0s, left 0.1s 0s;
                        height: 100%;
                        padding: 0 $unit/8;
                        left: -$unit/8;
                    }

                    &::after {
                        transform: scale3d(1,1,1);
                        transition-delay: 0.2s;
                    }
                }
            }
        }
    }





    /****************************** FOOTNOTES *********************************/
    sup {
        line-height: 1;

        a {
            $link-color: lighten($action-color, 15%);

            display: inline-block;
            position: relative;
            top: 0;
            left: 0;
            width: 0.824*$base-font-size;
            height: 0.824*$base-font-size;
            padding: 0.176*$base-font-size 0 0 0;
            box-sizing: border-box;
            border-radius: 50%;
            margin-left: -$base-font-size/8;

            border: 1px solid $link-color;
            color: $link-color;

            font-size: $base-font-size/3*2;
            text-align: center;
            line-height: $base-font-size/2;

            &:hover, &:focus, &:active {
                text-decoration: none;
                color: $background-color;
                background-color: $action-color;
            }
        }
    }

    .footnotes {
        $footnote-color: lighten($gray-color, 10%);
        font-family: $alt-font;
        font-style: italic;
        color: $footnote-color;

        a {
            color: inherit;
            text-decoration: none;

            &:hover, &:focus, &:active {
                color: $action-color;
            }
        }

        code {
            font-style: normal;
            color: inherit;
            margin-right: $base-font-size/6;
            line-height: 1;
            vertical-align: 1px;
            border: none;
            background: rgba($footnote-color, 0.075);
        }

        hr {
            border: none;
            border-top: 1px solid lighten($footnote-color, 15%);
            width: 130%;
            margin: 3*$unit 15% $unit/2 -15%;
        }

        [rev="footnote"], .reversefootnote {
            display: inline-block;
            position: relative;
            top: -1px;
            left: $base-font-size/2;
            width: $base-font-size;
            height: $base-font-size;
            box-sizing: border-box;
            padding-top: $base-font-size/3;

            border: 1px solid lighten($action-color, 15%);
            border-radius: 50%;
            background: lighten($action-color, 15%);
            color: $background-color;

            font-family: $font;
            font-size: $base-font-size/3*2;
            font-style: normal;
            line-height: $base-font-size/2;
            text-decoration: none;
            text-align: center;

            transition: all 0.5s;
            &:hover, &:focus, &:active {
                background: lighten($footnote-color, 10%);
                border-color: lighten($footnote-color, 10%);
                color: $background-color;
            }
        }
    }





    /********************************* CODE ***********************************/
    code {
        padding: 0.2em 0.5em 0 0.5em;

        color: $alt-background-color;
        border: 1px solid rgba($alt-background-color, 0.1);
        border-radius: 0.4em;
        background-color: rgba($alt-background-color, 0.05);

        font-size: 0.9em;
        line-height: 1;
    }

    kbd {
        display: inline-block;
        padding: 0 0.4em;
        vertical-align: 0.1em;
        background-color: rgba($alt-background-color, 0.05);
        border: 1px solid rgba($alt-background-color, 0.15);
        border-radius: 0.3em;
        color: $alt-background-color;
        box-shadow: 0 0 0 0.2em $background-color inset;
        font-size: 0.7em;
        line-height: 1.5em;
        text-shadow: 0.1em 0.1em 0 $background-color;
        white-space: nowrap;
    }

    .codeblock, .highlighttable, .CodeRay, & .content > .highlight, & .content > .highlighter-rouge {
        $line-color: lighten($alt-background-color, 10%);

        overflow-x: scroll;

        width: 5*$article-width;
        margin-bottom: $unit;
        margin-left: -2*$article-width;
        padding: 0;

        border: 0;
        border-collapse: collapse;
        border-top: 3px solid $line-color;
        border-bottom: 3px solid $line-color;
        background-color: $alt-background-color;

        font-size: 0.9*$base-font-size;
        line-height: $unit/6*5;

        & > pre {
            max-width: $article-width !important;
        }

        & > tbody, & > pre, & > .highlight {
            display: block;

            max-width: $article-width + 3*$base-font-size;
            margin: 0 auto;
            padding: 0;

            tr {
                display: block;
                margin: 0;
                padding: 0;
                margin-left: -1.75*$base-font-size;
            }

            td {
                padding: $unit/3*2 0;
            }

            td.linenos, td.line-numbers, td.gl {
                min-width: 2*$base-font-size;
                padding-right: $base-font-size/2;

                text-align: right;

                border-right: 2px solid $line-color;

                code, pre, pre a, pre a:hover {
                    text-decoration: none;
                    color: $line-color;
                }
            }

            td.code {
                max-width: $article-width;
                padding-left: $base-font-size/2;
            }

            .highlight, .highlighter-rouge {
                position: relative;
                margin: 0;
            }

            pre {
                margin: 0;
            }
        }

        code {
            background-color: $transparent;
            padding: 0;
        }

        @include media($article-width+3*$base-font-size) {
            display: block;
            overflow-x: scroll;
            margin: 0 -$padding-factor*$padding;
            margin-bottom: $unit;
            margin-top: $unit;
            width: $padding-factor*100%;

            & > tbody, & > pre, & > .highlight {
                width: 100%;
                margin: 0;

                tr {
                    margin-left: 0;
                }

                td.linenos, td.line-numbers, td.gl {
                    min-width: $base-font-size;
                }

                td.code {
                    padding-right: 2*$unit;
                }
            }
        }
    }





    /********************************* FIGURE *********************************/
    figure {
        position: relative;
        width: $article-width + $unit;
        margin-left: -$unit/2;
        border-radius: $unit/8;

        &.left {
            float: left;
            width: 17*$unit;
            margin: $unit/2 $unit/4*3 $unit/2 -5*$unit;
            @include media($article-width + 12*$unit) {
                margin-left: -3*$unit;
            }
            @include media($article-width + 9*$unit) {
                margin-left: -2*$unit;
            }
            @include media($article-width + 6*$unit) {
                float: none;
                width: 98%;
                margin: $base-font-size/2 0;
            }
        }

        @include media($article-width) {
            margin: 0 -$padding-factor*$padding;
            margin-bottom: $unit;
            margin-top: 0;
            width: $padding-factor*100%;
            border-radius: 0;
        }

        overflow: hidden;

        img {
            position: relative;
            border-radius: inherit;
            display: block;
            width: 100%;
        }

        figcaption {
            position: absolute;
            bottom:0;
            border-radius: inherit;

            box-sizing: border-box;
            width: 100%;
            padding: 0.5em 1em;

            transition: transform 0.4s, opacity 0.1s 0.3s;

            transform: translateY(100%);

            opacity: 0;
            color: $background-color;
            background: $alt-background-color;

            font-family: $alt-font;
            font-style: italic;
            font-weight: 400;
            letter-spacing: 0.05em;
        }

        &:hover, &:focus, &:active, &:active {
            figcaption {
                transition: transform 0.4s, opacity 0.1s;
                transform: translateY(0);

                opacity: 0.85;
            }
        }
    }





    /********************************* BLOCKQUOTE *****************************/
    blockquote {
        position: relative;
        $border-color: $gray-color;
        $border-width: 5px;

        $border-color-light: rgba($gray-color, 0.05);
        $border-color-light: #f1f3f4;

        border-left: $border-width solid $border-color;
        background: $border-color-light;
        width: $article-width + $unit;
        box-sizing: border-box;
        margin: $unit 0 $unit/3*5 -0.5*$unit;
        padding: $unit/2 $unit/2 $unit/3 $unit/2;
        border-radius: $border-width $border-width $border-width 0;

        @include media($article-width) {
            margin-left: -$padding-factor*$padding;
            margin-right: -$padding-factor*$padding;
            width: $padding-factor*100%;
            box-sizing: border-box;
            padding-left: 5%;
            padding-right: 5%;
            border-left: none;
            border-top: 1px solid darken($border-color-light, 10%);
            border-radius: 0;
        }

        p {
            margin: 0;
            font-family: $alt-font;
            font-size: 1.1*$base-font-size;
            font-weight: 400;
            font-style: italic;
            text-align: left;
            position: relative;
            text-indent: 1.6*$unit;
            color: $border-color;
            line-height: 1.35;

            a {
                color: inherit;
            }

            &:last-of-type::after, &:first-child::before {
                font-family: $font-sc;
                font-size: 3.5*$unit;
                font-weight: 600;
                color: $border-color;
                display: inline-block;
                width: 1.5em;
            }

            &:first-child::before {
                content: '\201C';
                position: absolute;
                top: -1.05*$unit;
                left: -2.1*$unit;
            }

            &:last-of-type::after {
                content: '\201D';
                font-size: 2.25*$unit;
                color: lighten($border-color, 2%);
                position: relative;
                top: 0.875*$unit;
                left: -1.85*$unit;
                line-height: $unit/8;
            }

            a::before {
                content: "\2014";
                padding-right: 0.5em;
            }
        }

        & > cite {
            display: block;
            position: absolute;
            top: 100%;
            left: -$border-width;
            padding: 0 0 0 3*$unit;
            height: $unit/3*2;
            border-radius: 0 0 0 $border-width;

            box-sizing: border-box;
            background: $border-color;
            color: $background-color;

            font-family: $font-sc;
            text-transform: lowercase;
            font-size: 0.9*$base-font-size;
            font-weight: 600;
            font-style: normal;
            text-align: left;
            line-height: 1.1em;


            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 1.2*$unit;
                height: 0;
                width: 0;
                pointer-events: none;
                border: solid $transparent;
                border-top-color: $border-color-light;
                border-width: $unit/2;
            }

            &::after {
                content: " ";
                width: 2*$unit;
                height: $unit/3*2;
                position: absolute;
                top: 0;
                left: 100%;
                background: $border-color;
                border-radius: 0 0 100% 0;
            }

            @include media($article-width) {
                margin-right: -$padding-factor*$padding;
                width: $padding-factor*100%;

                &::before {
                    left: 7%;
                }

                &::after {
                    display: none;
                }
            }

            a, a:hover, a:focus {
                color: $border-color-light;
                text-decoration: none;
            }
        }
    }

}
