/* https://github.com/richleland/pygments-css/blob/master/borland.css */

.highlight, .highlighttable, .code {
    color: $color0;

    .hll, .kt, .ni, .err, .l, .n, .x, .p, .ld, .nc, .nd, .ne, .nl, .nn, .nx, .py, .ow, .w, .bp, .o {
        color: $color0;
    }
    .nv, .nb, .vc, .vg, .vi {
        color: $color1;
    }
    .s, .sb, .sc, .sd, .s2, .se, .gs, , .sh, .si, .sx, .sr, .s1, .ss {
        color: $color2;
    }
    .k, .kc, .kd, .kn, .kp, .kr, .nt, .cp, .gh, .gu, .na, .nf, .no {
        color: $color3;
    }
    .m, .mf, .mh, .mi, .mo, .il {
        color: $color4;
    }
    .c, .cm, .c1, .cs {
        color: $color5;
    }

    .function {
        color: $color1;
    }
    .keyword {
        color: $color3;
    }
    .integer {
        color: $color4;
    }
    .string {
        color: $color2;
    }
    .comment {
        color: $color5;
    }
}
