<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
    <head>
        {% include head.html %}
    </head>

    <body>

        <header>
            {% include nav.html %}
        </header>
        <header class="article">
            {% include post_title.html %}
        </header>

        <article class="article" title="{{ page.title }}">
            <div class="content" style="position: relative; left: 0px;">
                <h1 style="display: none">
                    {{ page.title }}
                </h1>

                {{ content }}
            </div>
        </article>

        {% include kudo.html %}

        <footer class="article">
            {% include post_footer.html %}
        </footer>

        {% include site_scripts.html %}
        {% include post_scripts.html %}
    </body>
</html>
